# Mobatech Python AI Engine Environment Variables

PORT=8000
HOST=0.0.0.1
DATABASE_URL=mysql+pymysql://root:secret@127.0.0.1:3306/mobatech
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL_NAME=models/gemini-1.5-flash
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2
NER_MODEL_NAME=dbmdz/bert-large-cased-finetuned-conll03-english
